# This workflow will install Python dependencies, compile the Cython code, and run unit tests 

name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install Cython numpy pandas
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Compile 
      run: |
        make
    - name: Unit tests
      run: |
        make test
